<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XdataAccount" value="BLtIaItL#xdata@eas.local"/>
    <add key="ConString" value="Server=.;Database=master;User ID=sa;Password=sa;Pooling=true;Max Pool Size=1024;Min Pool Size=16;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true" />

  </appSettings>
  <system.serviceModel>
    <services>
      <service name="XJYDataLib.XJYDataService" behaviorConfiguration="XJYDataServiceTypeBehaviors" >
        <endpoint address="" binding="basicHttpBinding" contract="XJYDataLib.IXJYDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/XJYDataLib/XJYDataService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="XJYDataServiceTypeBehaviors">
          <!--公开元数据，正是部署时候应该去掉防止元数据泄露-->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding"  closeTimeout="00:20:00" openTimeout="00:20:00"
                 sendTimeout="00:20:00" receiveTimeout="00:20:00" maxBufferPoolSize="2147483647" >
          <!--取消安全验证-->
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
